{% load static %}
{% load socialaccount %}		
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋쟁이사자처럼XGNU 11기</title>
    <script src="{% static 'src/jquery-3.6.3.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/applystyle.css'%}" type="text/css">
    <script src="{% static 'public/applyevent.js' %}" defer></script>
</head>
<body>
    <header></header>
    <section>
        <div class="applyback">
            <div class="applyhead">
                <h2>멋쟁이사자처럼 11기 지원신청</h2>
                <div class="linewrap">
                    <img src="{% static 'img/line1.png' %}" class="line one"/>
                    <img src="{% static 'img/line2.png' %}" class="line two"/>
                    <img src="{% static 'img/line3.png' %}" class="line three"/>
                    <img src="{% static 'img/line4.png' %}" class="line four"/>
                </div>
                <div class="pagination">
                    <div class="box1"></div>
                    <div class="box2"></div>
                    <div class="box3"></div>
                    <div class="box4"></div>
                </div>
                <p class="notice">
                    * 모집 기간 중에는 언제든지 지원서를 수정할 수 있습니다. *
                </p>
            </div>
            <form class="questionbox" action="{% url 'apply' %}" method="post">
                {% csrf_token %}
                <div class="post">
                    <input style="display:none;" id="login" name="login" value="{{user.email}}" >
                    <div class="namE">
                        <label for="name"><span>*</span>  성명</label>
                        <input type="text" id="name" name="name" />
                    </div>
                    <div class="majoR">
                        <label for="major"><span>*</span>  학번/학과</label>
                        <input type="text" id="major" name="major" />
                    </div>
                    <div class="gradE">
                        <label for="grade"><span>*</span> 학년</label>
                        <select name="grade" id="grade">
                            <option value>-선택-</option>
                            <option value="04">4학년</option>
                            <option value="03">3학년</option>
                            <option value="02">2학년</option>
                            <option value="01">1학년</option>
                        </select>
                    </div>
                    <div class="phonE">
                        <label for="phone"><span>*</span>  연락처</label>
                        <input type="tel" id="phone" name="phone" />
                    </div>
                    <div class="emaiL">
                        <label for="phone"><span>*</span>  이메일</label>
                        <input type="email" id="email" name="email" />
                    </div>
                    <div class="giT">
                        <label for="git">깃허브주소</label>
                        <input type="text" id="git" name="git" />
                    </div>
                    <hr class="im">
                    <div class="personaL">
                        <div class="perwrap">
                            <input type="checkbox" id="personal" name="personal" />
                            <label for="personal" class="perstyle">
                                개인정보 수집 및 이용에 동의합니다.
                            </label>
                        </div>
                        <div class="pertextbox">
                            <pre><p><strong>개인정보의 수집 및 이용 동의</strong> 
1) 개인정보의 수집 및 이용 목적
    - 멋쟁이사자처럼 x 경상국립대 11기 회원 모집 및 선발
2) 수집하려는 개인 정보의 항목
    - 필수정보 : 이름, 학번/학과, 학년, 연락처, 이메일
    - 선택정보 : 깃허브 주소
3) 개인정보의 보유 및 이용 기간 : 2학년
4) 개인정보의 수집 및 이용 동의를 거부할 수 있으며, 거부할 경우에 동아리 회원 모집에 지원하실 수 없습니다.</p></pre>
                                
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="q1">
                        <label for="question1">1. 다양한 IT동아리 중에서 멋쟁이사자처럼 대학 11기를 선택하고 지원하시게 된 이유를 작성해주세요. (500자 이내)</label><br/>
                        <textarea name="question1" id="question1" maxlength="500" tabindex = "-1"></textarea>
                        <div class="count">
                            <p class="textC1">0</p>
                            <p class="textF1">/ 500</p>
                        </div>
                    </div>
                    <div class="q2">
                        <label for="question2">2.개발경험 어쩌구 질문</label><br/>
                        <textarea name="question2" id="question2" maxlength="300" tabindex = "-1"></textarea>
                        <div class="count">
                            <p class="textC2">0</p>
                            <p class="textF2">/ 300</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="q3">
                        <label for="question3">3. 멋쟁이사자처럼 대학은 협업과 팀워크를 중요한 가치로 생각하는 공동체입니다. 지원자 본인이 협업과 팀워크를 진행
                            <br/>해보았던 경험과, 그 경험을 멋쟁이 사자처럼 대학에서 어떻게 적용시킬 수 있을지 작성해주세요. (500자 이내)</label><br/>
                        <textarea name="question3" id="question3" maxlength="500" tabindex = "-1"></textarea>
                        <div class="count">
                            <p class="textC3">0</p>
                            <p class="textF3">/ 500</p>
                        </div>
                    </div>
                    <div class="q4">
                        <label for="question4">4. 멋쟁이사자처럼 대학은 최소 주 2회 모임 & 10시간 이상의 시간 투자를 권장합니다. 활동 기간동안 얼마나 열정적으<br/>로, 매주 얼만큼의 시간을 할애하실 수 있는지 작성해주세요. (500자 이내)</label><br/>
                        <textarea name="question4" id="question4" maxlength="500" tabindex = "-1"></textarea>
                        <div class="count">
                            <p class="textC4">0</p>
                            <p class="textF4">/ 500</p>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="q5">
                        <label for="question5">5. 만들고싶은 웹 서비스가 있다면 간단히 소개해주세요.</label><br/>
                        <textarea name="question5" id="question5" tabindex = "-1"></textarea>
                    </div>
                </div>
                <div class="btnwrap">
                    <div class="prevbtn">
                        <i class="fa-solid fa-angle-left"></i>
                        이전 단계
                    </div>
                    <div class="nextbtn">
                        다음 단계
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <input class="submitbtn" type="submit"/>
                </div>
            </form>
        </div>
    </section>
    <footer></footer>
</body>
</html>