{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>멋쟁이사자처럼XGNU 11기</title>
    
    <link rel="stylesheet" href="{% static 'styles/introduce.css' %}" type="text/css">
    <script src="{% static 'public/index.js' %}" defer></script>
</head>
<body>
    <div class="wrap">        
        <canvas id="c"></canvas>
        <div class="mainText">
            페이지 준비중 . . .
        </div>
    </div>
</body>
</html>