{% load static %}
{% load socialaccount %}		
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>멋쟁이사자처럼XGNU 11기</title>
    <script src="{% static 'src/jquery-3.6.3.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/32afc995e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/loginstyles.css' %}" type="text/css">

    <script src="{% static 'public/index.js' %}" defer></script>
</head>
<body>
    <div class="wrap">        
        <canvas id="c"></canvas>
        <header></header>
        <section>
            <div class="loginwrap">
                <p class="loginTitle">SNS 로그인</p>
                
                <a href=" {% provider_login_url 'google' %}"><img src="{% static 'img/google.png' %}" style="margin:0px" width="250px"></a>
            </div>
        </section>
        <footer></footer>
    </div>
</body>
</html>