/* font설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
body {
    overflow: hidden;
}

.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#c{
    position: fixed;
    top: 0; left: 0;
    z-index: -9999;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

.mainText{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    font-family: Pretendard-Regular;
    color: #ffffff;
    font-size: 5rem;
}
