/* font설정 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.wrap{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    overflow: hidden;
}

#c{
    position: fixed;
    top: 0; left: 0;
    z-index: -9999;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

p{
    font-family: Pretendard-Regular;
    color: #ffffff;
    font-size: 14px;
    margin-top: 0px;
}

section {
    position: absolute;
    z-index: 9999;

    top:50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginwrap {
    position: relative;
    width: 435px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 3px solid #ffffff;
    border-radius: 30px;
    background-color: #1C1B1A;
    background-color: rgba( 0, 0, 0, 0.5 );
    justify-content: center;
}
.loginTitle {
    font-family: Pretendard-SemiBold;
    font-size: 36px;
    color: #FF7710;
}
.linewrap {
    width: 485px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
hr {
    width: 195px;
    height: 0px;
}
img {
    cursor: pointer;
}