@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
div{
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  outline: 0;

  overflow: hidden;
}
.wrap{
  position: relative;

  width: 100vw;
  height: 100vh;
}

#c{
  position: absolute;
  top:0; left: 0;
  z-index: -9999;
}

.contents{
  position: relative;
  top : 4rem;

  width: 100%;
  height: calc(100vh - 4rem);
  padding: 7rem;
}
.textContent{
  position: relative;
  top: 50%; transform: translateY(-70%);
  z-index: 9999;

  color: white;
  font-family: 'Pretendard-Regular';
}
.sub_text{
  color: #FF7710;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}
.main_text{
  font-size: 4rem;
}

.applyBtn{
  position: absolute;
  bottom: 15%; right: 6rem;
}
.btn{
  width: fit-content;
  padding:0.5rem 3rem;

  border: 1px solid white;
  border-radius: 3rem;

  color: white;
  font-family: 'Pretendard-Regular';
  
  cursor: pointer;
  transition: all 0.3s ;
}

.btn:hover{
  color: white;
  border: 1px solid #FF7710;
  background-color: #FF7710;
  
}

/* 로그인 스타일 */
.textContent2{
  position: relative;
  top: 50%; transform: translateY(-70%);
  z-index: 9999;

  color: white;
  font-family: 'Pretendard-Regular';
  text-align: center;
  font-size: 4rem;
}
.loginBtns{
  position: relative;
  top: 50%;
  
  display: flex;
  justify-content: space-evenly;
}

/* 지희수정 */
span {
  font-family: 'Pretendard-SemiBold';
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}